---
import Selector from "@reactive/Selector.svelte";

import annotationItems from "@data/annotation.json";
import samples from "@data/samples.json";
---

<table class="my-8 border-collapse table-auto w-full">
  <thead
    class="hidden sm:table-header-group group bg-gradient-to-r from-lime-300 via-blue-500 to-purple-600 text-white border-b-8 border-white"
  >
    <tr>
      <th class="p-6"></th>
      {annotationItems.map((item) => <th class="p-6">{item.label}</th>)}
    </tr>
  </thead>
  <tbody>
    {
      samples.map((sample) => (
        <tr class="flex flex-col flex-no wrap sm:table-row bg-slate-100 border-b-8 border-white">
          <td class="p-6 text-slate-600">{sample.text}</td>

          {annotationItems.map((item) => (
            <td class="p-6">
              <Selector
                client:load
                id={sample.id}
                options={item.options}
                storeItem={item.label}
              />
            </td>
          ))}
        </tr>
      ))
    }
  </tbody>
</table>
